*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans';
}

/* Scrollbar CSS */
::-webkit-scrollbar {
  width: 10px;
}

  ::-webkit-scrollbar-track {
  background: #181818; 
}

  ::-webkit-scrollbar-thumb {
  background: #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff; 
} 

/* Front Page */
.front-page{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    margin-bottom: 20%;
}

.navbar-logo{
    height: 40px;
    width: 150px;
}

.navbar-logo>a>img{
    width: 100%;
    height: 100%;
}

.navbar-list>a{
    margin: 0 15px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.navbar-list>a:hover{
    text-decoration: underline;
    transition: 1s all;
}

.navbar-follow{
    display: flex;
    align-items: center;
}

.navbar-follow>a{
    margin: 0 8px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.navbar-follow>a:hover{
    color: #0BF2CA;
}

.toggle{
    display: none;
}

.front-page-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title{
    font-size: 80px;
    font-family: 'Cormorant';
    text-align: center;
}

.mini-title{
    font-size: 50px;
    font-family: 'Cormorant';
    text-align: center;
    margin: 50px 0;
}

.front-page-text>p{
    font-size: 16px;
    margin: 20px 0;
    text-align: center;
}

.front-page-text>a{
    background-color: #fff;
    color: #000;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 14px;
    margin: 10px 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.front-page-text>a:hover{
    background-color: #0BF2CA;
    transition: 1s all;
}

.nav-background{
    background-color: #181818;
}

/* ABOUT CSS */
.about-text{
    width: 60%;
    margin: 100px auto;
    text-align: center;
}

.about-text>p{
    margin: 30px 0;
    color: #888;
    line-height: 2;
}

/* ALBUM */
.album{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3% 5%;
}

.album-container{
    background-color: #f5f5f5;
}

.album-tabs{
    background-color: #f5f5f5;
}

.album-tabs{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.album-tabs button{
    background-color: #ffffff;
    border: none;
    font-size: 30px;
    font-family: 'Cormorant';
    padding: 15px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid transparent;
}

.album-tabs button:hover{
    transition: all .5s;
    border: 1px solid #f5f5f5;
}

.active{
    transition: all .5s;
    background-color: #f5f5f5!important;
}

.album{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.album .video{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.album .video iframe{
    border: none;
}

.album .video a{
    background-color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    color: #000;
}

.album .video a:hover{
    background-color: #f8f8f8;
}

.image a{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    text-decoration: none;
    color: #000;
}

.image a:hover{
    background-color: #bff1e9;
}

.image figure {
	width: 250px;
	height: 180px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}

.album-photo .image figure{
    width: 250px;
	height: 250px;
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.album-photo .image figure img{
    border-radius: 5px;
}

.image figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.image h2{
    font-family: 'Cormorant';
    text-align: center;
    margin: 10px 0;
    font-weight: 600;
    letter-spacing: 3px;
}

.image span{
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}

/* BLOG */
.blog-container{
    padding: 2% 5%;
}

.blog, .splide__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 3%;
}

.blog-card{
    width: 30%;
    text-align: center;
    margin: 15px 0;
}

.blog-card figure{
    width: 100%;
    height: 300px;
}

.blog-card figure img{
    width: 100%;
    height: 100%;
}

.blog-card figure img:hover{
    opacity: .9;
}

.blog-card h2{
    margin: 13px 0;
    font-family: 'Cormorant';
    font-size: 35px;
    cursor: pointer;
}

.blog-card h2:hover{
    color: #0BF2CA;
}

.blog-card p{
    font-size: 15px;
    line-height: 1.5;
    color: #888;
}

.blog-card .blog-time{
    margin-bottom: 13px;
    font-size: 14px;
    font-weight: 500;
}

/* CONTACT */
.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
    background-color: #f9f9f9;
}

.contact-text{
    grid-column: 1/2;
    padding: 20px;
}

.contact-text h1{
    font-size: 50px;
    font-family: 'Cormorant';
}

.contact-item .item h2{
    font-family: 'Cormorant';
    letter-spacing: 3px;
}

.contact-item .item p{
    margin: 10px 0 30px;
}

.contact-text p{
    color: #888;
    margin: 40px 0;
    line-height: 1.8;
}

.contact-form{
    grid-column: 2/3;
    padding: 20px;
}

.contact-form form{
    display: flex;
    flex-direction: column;
}

.contact-form form input,
.contact-form form textarea,
.contact-form form button
{
    padding: 20px;
    font-size: 17px;
    margin: 20px 0;
    font-family: "Open Sans";
    resize: none;
    border-radius: 8px;
    border: 1px solid #000;
    outline: none;
}

.contact-form form button{
    text-transform: uppercase;
    background-color: #0BF2CA;
    border: none;
    cursor: pointer;
    outline: none;
}

.contact-form form button:hover, .scroll-up:hover{
    background-color: #09ccac;
}

/* FOOTER */
.footer{
    background-color: #181818;
}

.footer-items{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5% 0;
}

.footer-items .item{
    width: 25%;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    padding: 0 15px;
}

.footer-items .item h1{
    font-size: 30px;
    line-height: 3;
    font-family: 'Cormorant';
}

.footer-items .item p,
.footer-items .item a{
    font-size: 15px;
    line-height: 2;
    text-decoration: none;
    color: #fff;
}

.footer-items .item a:hover{
    text-decoration: underline;
}

.copyright{
    text-align: center;
    color: #fff;
    padding-bottom: 5%;
}

.scroll-up{
    width: 40px;
    height: 40px;
    background-color: #0BF2CA;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: fixed;
    right: 40px;
    bottom: 30px;
    opacity: 0;
    transition: .2s all;
}

.album-page{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 70vh;
    color: #fff;
    background-blend-mode: overlay;
}

.album-title{
    text-transform: capitalize;
}

.splide {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px){
    .toggle{
        display: flex;
    }

    .blog-card{
        width: 100%;
    }

    .navbar-list{
        display: none;
    }

    .navbar{
        padding: 15px;
    }

    .title{
        font-size: 50px;
    }

    .about-text{
        width: 95%;
    }

    .mini-title, .contact-text h1{
        font-size: 30px;
    }

    .navbar-follow>a{
        margin-top: 10px;
    }

    .image figure{
        width: 350px;
        height: 280px;
    }

    .contact{
        display: grid;
        grid-template-columns: 1fr;
        padding: 2%;
    }

    .contact-text{
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .contact-form{
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .footer-items .item{
        width: 100%;
    }

    .album-page{
        height: 50vh;
    }

    .album-photo .image figure{
        width: 100%;
    }
}
